.tomato-brand {
  padding: 1rem;
  background: var(--color-background);
  border-radius: 1rem;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.title-account {
  font-size: 1.5rem !important;
  color: var(--color-title-in-background) !important;
  margin-bottom: 0.5rem !important;
  font-weight: bold;
  text-align: center !important;
}

.subtitle-account {
  font-size: 1rem !important;
  color: var(--color-subtitle-in-background) !important;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center !important;
}

.btn-google,
.btn-google:hover,
.btn-google:focus {
  width: 100% !important;
  background: var(--color-primary) !important;
  border: 0 !important;
  color: var(--color-text-in-primary) !important;
  padding: 1rem !important;
  border-radius: 1rem !important;
  margin-bottom: 1rem;
}

.btn-google span {
  color: var(--color-text-in-primary) !important;
  font-weight: 600;
  font-size: 1rem !important;
}

.btn-github,
.btn-github:hover,
.btn-github:focus {
  width: 100% !important;
  background: var(--color-text-in-primary) !important;
  border: 0 !important;
  color: var(--color-box) !important;
  padding: 1rem !important;
  border-radius: 1rem !important;
  margin-bottom: 1rem;
}

.btn-github span {
  color: var(--color-box) !important;
  font-weight: 600;
  font-size: 1rem !important;
}
